<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
                
    
    
    <wb-module deploy-name="i18n-service">
                                
        
        
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
                                
        
        
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
                                
        
        
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
                                
        
        
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <dependent-module archiveName="i18n-global-0.0.3-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/i18n-global/i18n-global">
            <dependency-type>uses</dependency-type>
        </dependent-module>
                                
        
        
        <property name="context-root" value="i18n-service"/>
                                
        
        
        <property name="java-output-path" value="/i18n-service/target/classes"/>
                            
    
    
    </wb-module>
            


</project-modules>
